body{
    background: url(descarga.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
}
section{
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1%;
    padding: 2rem;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}